@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.ttf');
	font-weight: normal;
	font-style: normal;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.result_opensans {
	font-family: 'Open Sans', sans-serif;
}
.result_bebas {
	font-family: 'Bebas', sans-serif;
}
.result_lato {
	font-family: 'Lato', sans-serif;
}
.result_lobster {
	font-family: 'Lobster', cursive;
}