@font-face {
    font-family: 'P22 Underground CY Pro';
    src: url('../fonts/P22UndergroundCYPro-Thin.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground CY Pro';
    src: url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground CY Pro';
    src: url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  font-family: 'P22 Underground CY Pro';
}

button {
  outline: none;
}

header {
  background-image: url(../img/bg.jpg);
  background-color: #2a2926;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 35px;
  position: relative;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(41.66666666666667% - 30px);
}

.logo-p {
  padding-left: 15px;
  font-size: 0.75rem;
  font-weight: 100;
}

.logo-p__span {
  font-size: 1.125rem;
  font-weight: 900;
}

.btn-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(58.333333333333336% - 30px);
  text-align: center;
}

.btn-call__btn {
  font-size: 0.9375rem;
  background-color: transparent;
  padding: 15px 20px;
  color: #d4d3d2;
  font-weight: 100;
  cursor: pointer;
}

.btn-call__span {
  font-size: 1.5625rem;
  padding-left: 25px;
}

.header-h1 {
  text-transform: uppercase;
  color: #ffff33;
  font-weight: 900;
  text-align: center;
  font-size: 2.1875rem;
  padding: 55px 0px;
}

.header-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-form__left {
  position: relative;
}

.block-form__left h4 {
  padding-left: 20px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25rem;
}

.block-form__left h4:before {
  content: ' ';
  position: absolute;
  left: 0;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 10px;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.block-form__right {
  width: 425px;
}

.block-form__right form {
  padding-top: 55px;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 425px;
  background-color: #fff;
  border-radius: 3px;
  color: #d4d3d2;
  font-family: 'P22 Underground CY Pro';
  color: #333;
  position: relative;
  overflow: hidden;
}

.block-form__right form .b-form {
  padding-bottom: 45px;
  font-size: 1.375rem;
}

.block-form__right form .b:before {
  content: '';
  position: absolute;
  left: 0;
  height: 60px;
  width: 60px;
  margin-left: 40px;
  background-image: url(../images/icon-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 45px;
}

.block-form__right form .b input {
  width: 225px;
  margin: 0px auto;
  border: 1px solid #999999;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-bottom: 25px;
  padding-left: 80px;
}

.block-form__right form button {
  width: 340px;
  margin: 0px auto;
  background-color: #ffff33;
  border: 1px solid #ffff33;
  padding: 20px 75px;
  font-size: 0.9375rem;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

div.b.b2 {
  position: relative;
}

div.b.b2:before {
  background-image: url(../images/icon-2.png);
}

div.b.b1 {
  position: relative;
}

div.b.b1:before {
  left: auto;
  background-image: url(../images/icon--1.png);
}

div.b.b3 {
  position: relative;
}

div.b.b3:before {
  left: auto;
  background-image: url(../images/icon--2.png);
}

.header-img_money {
  position: absolute;
  left: 43%;
  display: block;
  margin-top: -20px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0px 100px;
  font-size: 0.9375rem;
}

.items .icon {
  width: calc(25% - 30px);
  text-align: center;
  padding-top: 100px;
}

.img img {
  width: 100%;
}

@media (max-width: 1300px) {
  .numbers {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-h1 {
    font-size: 20px;
  }

  .header-block-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .items .icon {
    width: calc(33.333333333333336% - 30px);
  }

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo {
    text-align: center;
    padding-top: 00px;
  }

  .btn-call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .btn-call__btn {
    padding: 10px 15px;
  }

  .btn-call__span {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .header-h1 {
    font-size: 15px;
  }

  .items .icon {
    width: calc(50% - 30px);
  }

  .items .icon {
    font-size: 0.75rem;
  }

@media screen and (max-width: 560px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-call__span {
    font-size: 1.25rem;
  }

  .block-form__left {
    display: none;
  }

  .header-img_money {
    display: none;
  }
